<footer class="footer">
  <div class="footerContent">
    <div>
      <h1 class="logo">Baczyński</h1>
    </div>
    <div class="contactSection">
      <h2 class="footerHeading">Napisz do nas</h2>
      <a class="emailLink" href="mailto:kontakt@baczynski.com">kontakt@baczynski.com</a>
      <a><button class="contactBtn" (click)="goToContact()">Formularz kontaktowy</button></a>
    </div>
    <div class="linksSection">
      <h3 class="footerHeading">Sprawdź to</h3>
      <ul class="footerListItems">
        <li><a class="footerListItem" routerLink="/aktualnosci">Aktualności</a></li>
        <li><a class="footerListItem" routerLink="/biografia">Biografia</a></li>
        <li><a class="footerListItem" routerLink="/utwory">Utwory</a></li>
        <li><a class="footerListItem" routerLink="/galeria">Galeria</a></li>
      </ul>
    </div>
  </div>
  <div class="copyright">
    <p>© Baczyński 2023</p>
  </div>
</footer>
