<footer class="footer">
  <div class="footerContent">
    <div>
      <h1 class="logo">Baczyński</h1>
    </div>
    <div class="contact">
      <h1>Napisz do nas</h1>
      <a href="mailto:kontakt@baczynski.com">kontakt@baczynski.com</a>
      <a><button class="contactBtn" (click)="goToContact()">Formularz kontaktowy</button></a>
    </div>
    <div class="links">
      <h2>Sprawdź to</h2>
      <ul class="footerListItems">
      <li><a class="footerListItem" routerLink="/aktualnosci">Aktualności</a></li>
      <li><a class="footerListItem" routerLink="/biografia">Biografia</a></li>
      <li><a class="footerListItem" routerLink="/works">Utwory</a></li>
      <li><a class="footerListItem" routerLink="/galeria">Galeria</a></li>
      </ul>
    </div>
  </div>
  <div class="copyright">
    <p>© Baczyński 2023</p>
  </div>
  </footer>
