.footerContainer {
  width: 90vw;
  min-height: 30vh;
}

.footer {
  width: 90vw;
  height: 40vh;
  margin-bottom: 40px;
  border-top: 2px solid var(--grey);
}

.logo {
  color: white;
  font-family: 'Hurricane', cursive;
  font-size: 50px;
}

.copyright {
  padding-top: 100px;
}

.footerListItems li {
  margin-bottom: 8px;
  list-style: none;
}

.footerListItem,
.contact a {
  color: white;
  font-size: 18px;
  text-decoration: none;

}

h1, h2 {
  margin-bottom: 15px;
  font-size: 24px;
}

