.footer {
  min-height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footerContent {
  width: 90vw;
  border-top: 2px solid var(--grey);
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: row;
}

.logo {
  padding-top: 40px;
  color: white;
  font-family: 'Hurricane', cursive;
  font-size: 50px;
}

.contactSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contactBtn {
  margin-top: 8px;
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--white);
  font-size: 18px;
  cursor: pointer;
}

.footerHeading {
  padding-top: 40px;
  margin-bottom: 15px;
  font-size: 24px;
}

.footerListItems li {
  margin-bottom: 8px;
  list-style: none;
}

.footerListItem,
.emailLink {
  color: white;
  font-size: 18px;
  text-decoration: none;
}

.copyright {
  margin-top: 30px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .footer {
    min-height: 20vh;
  }

  .footerContent {
    width: 100vw;
    display: flex;
    align-items: flex-start;
  }

  .logo {
    font-size: 15px;
  }

  .footerHeading {
    font-size: 10px;
    padding-bottom: 2px;
  }

  .footerListItem,
  .emailLink,
  .contactBtn {
    font-size: 9px;
    margin-bottom: 2px;
  }

  .footerListItems li {
    margin-bottom: 1px;
  }

  .copyright {
    font-size: 8px;
    margin-bottom: 8px;
  }
}
