<footer class="footerSection" fxLayoutAlign="center center">
  <div class="footer" fxLayout="column" fxLayoutAlign="center none">
    <div fxLayout="row" fxLayoutAlign="space-around start">
      <div>
        <h1 class="logo">Baczyński</h1>
      </div>
      <div class="contact">
        <h1>Napisz do nas</h1>
        <a href="mailto:kontakt@baczynski.com">kontakt@baczynski.com</a>
      </div>
      <div class="links">
        <h2>Sprawdź to</h2>
        <ul class="footerListItems">
          <li><a class="footerListItem" routerLink="/aktualnosci">Aktualności</a></li>
          <li><a class="footerListItem" routerLink="/biografia">Biografia</a></li>
          <li><a class="footerListItem" routerLink="/works">Utwory</a></li>
          <li><a class="footerListItem" routerLink="/galeria">Galeria</a></li>
        </ul>

      </div>
    </div>

    <div fxLayoutAlign="center none">
      <div class="copyright">
        <p>© Baczyński 2023</p>
      </div>
    </div>
  </div>
</footer>


<!-- <div class="footerSection" fxLayout="column" fxLayoutAlign="center center">
  <div class="footer" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">

      <div class="logo" fxFlex="50">
        <h1>Baczyński</h1>
      </div>
      <div class="contact" fxFlex="50">
        <h1>Contact</h1>
        <p>E-mail</p>
        <a href="mailto:kontakt@baczynski.com">kontakt@baczynski.com</a>
      </div>

</div>
<div fxLayout="row" fxLayoutAlign="center end" >
      © Baczynski 2023.
    </div>

</div> -->
