.errorContainer {
  position: relative;
  max-width: 90vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.errorContainer h1{
  color: #00bfb2;
  font-size: 100px;
}

.errorContainer h2, p {
  font-size: 50px;
}

.goToHomeBtn{
  max-width: 150px;
  padding: 15px;
  margin-top: 60px;
  border: none;
  border-radius: 20px;
  overflow: hidden;
  font-size: 30px;
  cursor: pointer;
}

.goToHomeBtn:hover{
  background: #00bfb2;
  transition: 0.3s;
}
