.blog-container {
  position: relative;
  width: 70vw;
  min-height: 90vh;
  padding: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 16px;
  overflow: hidden;
  background: var(--white);
  color:black;
}

h1 {
  padding-bottom: 20px;
  font-size: 12px;
}

h2 {
  padding-bottom: 20px;
  font-size: 30px;
}

img {
  width: 500px;
  margin-top: 30px;
  border-radius: 12px;
}
