form {
  padding-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.contactHeading {
  padding-bottom: 50px;
  color: var(--blue);
}

.userData {
  display: flex;
  padding: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.name {
  margin-right: 15px;
}

.form-control {
  width: 400px;
  padding: 15px;
  border: none;
  outline: none;
  border-radius: 16px;
}

.form-label {
  padding-bottom: 8px;
}

.messageArea {
  width: 830px;
  min-height: 200px;
  border-radius: 20px;
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border: 3px solid red;
}

.submitBtn {
  width: 100px;
  padding: 15px;
  margin-top: 15px;
  z-index: -1;
}