<div class="component__container">
  <mat-form-field appearance="outline">
    <mat-label>Imię i Nazwisko</mat-label>
    <input matInput>
    <mat-hint>Include area code</mat-hint>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>E-mail</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Tytuł</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Wiadomość</mat-label>
    <input matInput>
  </mat-form-field>
</div>