  <div class="component__container" fxLayout="column" fxLayoutAlign="center center">
    <app-navigation class="navigation" [menuIcon]="menuIcon"></app-navigation>
    <h1 class="contactHeading">Skontaktuj się z nami</h1>
    <form (ngSubmit)="onSubmit(f)" fxLayout="column" fxLayoutAlign="center center" #f="ngForm" class="form">
      <div class="form-group">
        <mat-form-field appearance="outline">
          <mat-label for="inputName">Imię i Nazwisko</mat-label>
          <input class="form-control" matInput required ngModel name="name" #name="ngModel" id="inputName">
          <!-- <mat-hint *ngIf="!name.valid && name.touched">Podaj imię i nazwisko</mat-hint> -->
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field appearance="outline">
          <mat-label for="inputEmail">E-mail</mat-label>
          <input class="form-control" matInput required ngModel name="email" #email="ngModel" id="inputEmail">
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field appearance="outline">
          <mat-label for="inputTitle">Tytuł</mat-label>
          <input class="form-control" matInput required ngModel name="title" #title="ngModel" id="inputTitle">
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field appearance="outline">
          <mat-label for="inputMessage">Wiadomość</mat-label>
          <textarea class="form-control" matInput required ngModel name="message" #message="ngModel"
            id="inputMessage"></textarea>
        </mat-form-field>
      </div>
      <button (click)="openDialog('0ms', '0ms')" type="submit" class="submitBtn" [disabled]="!f.valid"
        mat-flat-button>Wyślij</button>
    </form>


  </div>
  <app-footer></app-footer>

