<div class="poem_container" fxLayout="column" fxLayoutAlign="center center">
  <div class="pictures">
    <img class="picture_books" [src]="picture_books" alt="Książki" [style]="getPictureStyles()">
    <img class="picture_flowers" [src]="picture_flowers" alt="Kwiaty polne" [style]="getPictureStyles()">

  </div>
  <div class="poem" fxLayoutAlign="center center">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo, minus voluptatum exercitationem tenetur assumenda
      repudiandae accusantium iste? Doloribus, quis fuga?Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Asperiores ipsum sint est, odio aliquid suscipit maxime ut reprehenderit necessitatibus consequatur?Lorem,
      ipsumlorem Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae ipsum magnam, doloribus voluptates ipsam
      a at? Beatae ipsum consectetur at?Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni qui ipsam modi
      officia itaque voluptate dolorem fugiat possimus minus pariatur delectus vero, quisquam a nostrum error molestiae
      dolorum repellendus ex ullam explicabo! Distinctio enim officia ipsam expedita. Dolor, nulla odio?lorem200
      lorem200</p>
  </div>
</div>