.component-container--gallery {
  min-width: 90%;

}

.component__container--gallery--image {
  width: 380px;
  border-radius: 15px;
  /* padding-bottom: 30px; */
}

.component__container--gallery--image:hover {
  transform: scale(1.1);
  transition: 1s ease-in-out;
}

