.component__container {
  padding-top: 45px;
}

.component-container--gallery {
width: 90vw;
}


.component__container--gallery--image {
  width: 420px;
  height: 600px;
  border-radius: 15px;
  margin-bottom: 40px;
}

.component__container--gallery--image:hover {
  transform: scale(1.1);
  transition: 1s ease-in-out;
}

