.post__container {
  max-width: 400px;
  min-height: 500px;
  padding: 25px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  background-color: transparent;
  box-shadow: var(--shadow);
  -webkit-backdrop-filter: blur(15.1px);
  backdrop-filter: blur(15.1px);
  cursor: pointer;
}

.post__container:hover {
  box-shadow:#00bfb2 0px 25px 50px -12px;
  transform: scale(1);
  transition: 0.5s ease-in-out;
}

h1 {
  font-size: 40px;
}

h1 span {
  color: var(--blue);
}

.title_post {
  padding-top: 30px;
  padding-bottom: 40px;
  color: #8ef1eb;
  font-size: 25px;
}

.introduction_post {
  font-size: 16px;
}

.date_post {
  font-size: 15px;
}
