.newsSection {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  font-size: 40px;
}

.heading span {
  color: var(--blue);
}

.listOfNews {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}

.newsContainer {
  max-width: 400px;
  min-height: 500px;
  padding: 25px;
  margin-right: 25px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  background-color: transparent;
  box-shadow: var(--shadow);
  -webkit-backdrop-filter: blur(15.1px);
  backdrop-filter: blur(15.1px);
  cursor: pointer;
}

.newsContainer:hover {
  box-shadow:#00bfb2 0px 25px 50px -12px;
  transform: scale(1);
  transition: 0.5s ease-in-out;
}

.date {
  font-size: 15px;
}

.title {
  padding-top: 30px;
  padding-bottom: 40px;
  color: #8ef1eb;
  font-size: 25px;
}

.introduction {
  font-size: 16px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .heading {
    font-size: 20px;
  }
  /* .heading {
    width: 90vw;
  } */
  .newsContainer {
    width: 290px;
    min-height: 200px !important;
    margin-bottom: 10px;
  }
  .listOfNews {
    flex-direction: column;
  }
  .newsSection {
    padding: 0;
    margin: 0;
    width: 90vw;
  }
  .date {
    font-size: 9px;
  }
  .title {
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .introduction {
    font-size: 13px;
  }
}