<div class="componentContainer">
  <app-navigation class="navigation" [menuIcon]="menuIcon" *ngIf="!showInHome"></app-navigation>
  <div class="newsSection">
    <div>
      <h1 class="heading">
        Sprawdź, co nowego u <span>Baczyńskiego</span>
      </h1>
    </div>
    <div class="listOfNews">
      <div class="newsContainer" *ngFor="let article of articles; let i = index" (click)="openArticle(article.title)">
        <span class="date">{{ article.date }}</span>
        <h2 class="title">{{ article.title }}</h2>
        <p class="introduction">{{ article.content }}</p>
      </div>
    </div>
  </div>
</div>
<app-footer *ngIf="!showInHome"></app-footer>
