<!-- <div class="container">
  <div class="quote">
    <h1 class="mat-display-1"> na imię mi było Krzysztof,
      i jeszcze ciało - to tak niewiele.
    </h1>
  </div>
  <div class="portrait">
    <img [src]="motherImage" alt="Portret z matką - lata dziecięce" [style]="getPortraitStyles()">
  </div>
</div> -->

<div class="page_container">
  <app-navigation class="navigation" [menuIcon]="menuIcon"></app-navigation>

  <div class="animations">
    <img [src]="butterfly" alt="Motyle" [style]="getButterflyStyles()" class="bg_image">
  </div>


  <div class="component__container" fxLayout="row" fxLayoutAlign="center center">

    <div class="component__container--smaller" fxLayout="row" fxLayoutAlign="space-around center">

      <div class="portrait" fxFlex="60">
        <img [src]="motherImage" alt="Portret z matką - lata dziecięce" [style]="getPortraitStyles()">
      </div>
      <div class="quote" fxFlex="40">
        <h1 class="mat-display-1">{{ quote }}
        </h1>
      </div>
    </div>
  </div>

  <div class="faq_main_container" fxLayout="column" fxLayoutAlign="center center">

    <h3 class=".md-display-2 faq_title">{{ faq_title }}</h3>
    <div class="faq_container" fxLayout="row" fxLayoutAlign="space-between none">
      <div fxLayout="column" fxLayoutGap="20">
        <!-- <div fxFlex="50" class="questions" *ngFor="let question of questions">
          {{question.text}} -->

        <!--próba z json-->
        <div fxFlex="50" class="questions">
          <ul>
            <li class="question" *ngFor="let question of questions" (click)="selectQuestion(question)"
              [class.active]="question === selectedQuestion">{{question.question}}</li>
          </ul>
        </div>
        <!---->

      </div>
      <div class="answer" fxFlex="50">
        {{selectedQuestion.answer}}
      </div>

    </div>


    <!-- <div class="answer" fxFlex="50" *ngFor="let answer of answers">
      {{answer.text}}
    </div> -->


  </div>

</div>


<div fxLayout="row" fxLayoutAlign="space-around center">
  <div fxFlex="50">
    <img [src]="teenage" alt="">
  </div>
  <div fxFlex="50" *ngFor="let poem of poems">
    {{poem.text}}
  </div>
</div>



<!-- <mat-accordion>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Lorem ipsum dolor, sit amet consectetur adipisicing?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-panel-description>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit iure sed modi mollitia vero, similique inventore
      laboriosam ducimus neque unde voluptatibus exercitationem dolorem. Fugit, voluptatibus hic laborum commodi odit
      ratione
    </mat-panel-description>
  </mat-expansion-panel>


</mat-accordion> -->
