<div class="biographyContainer">
  <div class="componentContainer">
    <div>
      <img class="animationImg" src="assets/images/butterfly.png" alt="Butterfly animation">
    </div>
    <app-navigation class="navigation" [menuIcon]="menuIcon"></app-navigation>
    <div class="smallPageContainer">
      <div class="portraitContainer">
        <img class="portraitWithMother" src="assets/images/mother.png" alt="Portrait of Krzysztof Baczynski and his mother" >
      </div>
      <div class="quoteContainer">
        <h1>{{ quote }}</h1>
      </div>
    </div>
  </div>
  <div class="faqSection">
      <h2 class="faqTitle">Poznaj <span>Krzysia</span></h2>
    <div class="faqContainer">
      <div class="questions">
        <ul>
          <li class="question" *ngFor="let question of questions" (click)="selectQuestion(question)"
          [class.active]="question === selectedQuestion">{{question.question}}
          </li>
        </ul>
      </div>
      <div class="answer">
      {{selectedQuestion.answer}}
      </div>
    </div>
  </div>
  <div class="poemSection">
    <div>
      <p class="poem">{{ poem }}</p>
    </div>
    <div>
    <img class="portraitOfBaczynski" src="assets/images/image-1.jpg" alt="">
    </div>
  </div>
  <app-memories></app-memories>
  <app-footer></app-footer>
</div>