.animationImg {
  position: absolute;
  top: -30px;
  right: 0px;
  max-width: 280px;
  z-index: 1;
}

.smallPageContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.portraitWithMother {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: 800px;
  height: auto;
}

.quoteContainer {
  padding-right: 30px;
  white-space: pre-line;
}

.quote {
  font-size: 28px;
}

.faqSection {
  padding-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.faqTitle{
  font-size: 40px;
}

.faqTitle span {
  color: var(--blue);
}

.faqContainer {
  max-width: 90vw;
  padding-top: 40px;
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.questions {
  margin-right: 10px;
}

.questions,
.answer {
  flex-grow: 1;
  max-width: 50%;
}

.question {
  padding: 25px;
  margin-bottom: 6px;
  border: 2px solid var(--grey);
  border-radius: 20px;
  background-color: transparent;
  -webkit-backdrop-filter: blur(15.1px);
  backdrop-filter: blur(15.1px);
  font-weight: bold;
  list-style: none;
  cursor: pointer;
}

.questions li.active {
  border: none;
  overflow: hidden;
  background-color: var(--blue);
  background-image: linear-gradient(315deg, #00bfb2 0%, #028090 74%);
  transition: all 0.3s ease-in-out;
}

.answer {
  min-height: 75vh;
  padding: 25px;
  border-radius: 20px;
  background-color:var(--white);
  color: var(--black);
}

.poemSection {
  max-width: 90vw;
  padding-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.poem {
  margin-left: 50px;
  font-size: 20px;
  text-align: center;
  line-height: 34px;
  white-space: pre-line;
}

.portraitOfBaczynski {
  max-width: 380px;
  border-radius: 10px;
}

.portraitOfBaczynski:hover {
  box-shadow: var(--blue) 0px 25px 50px -12px;
  transform: scale(1.1);
  transition: 0.5s ease-in-out;
}

@media screen and (max-width: 767px) {
  .portraitWithMother {
    position: absolute;
    bottom: 0;
  }
  .quoteContainer {
    padding-right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .quote {
    position: absolute;
    top: 20px;
  }
  .poemSection {
    flex-direction: column;
    padding-top: 18px;
  }
  .poem {
    margin-left: 0;
    font-size: 18px;
  }
  .portraitOfBaczynski {
    max-width: 300px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .poemSection {
    justify-content: center;
    padding-top: 100px;
  }
  /* .poem {
    font-size: 24px;
  } */
}
