/* .container {
  /* position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%); */
  /* background: grey;

  display: flex;
  align-content: center;
  justify-content: center;
  max-width: 500px;
  min-height: 600px;
}

/* .smallContainer {
  display: flex;
  align-content: center;
  justify-content: center;
} */
/* .smallContainer {
  position: relative;
} */

/* body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}
*/

/* :host {

} */




.bg_image {
  position: absolute;
  right: 0px;
  top: -30px;
  z-index: 1;
}


.mainContainer {
  max-width: 100vw;
  height: 100vh;
  margin-bottom: 40px;
}

 .container {
  width: 90%;
  min-height: 80vh;
  border-radius: 20px;
  position: relative;
  background: rgba(0, 0, 0, 0.75);
  background: linear-gradient(to right top, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.25));
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.mat-display-1 {
  color: white;
}

.faq_main_container {
  padding-bottom: 40px;
}

.faq_container {
  padding-top: 40px;
  width: 90%;
}

.answer {
  background:  rgba(0, 0, 0, 0.75);
  padding: 25px;
  background-color: rgb(237, 233, 233);
  color: black;
  border-radius: 20px;
}

.question {
  background:  rgba(0, 0, 0, 0.75);
  background: linear-gradient(to right top, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.25));
  padding: 25px;
  min-width: 670px;
  border-radius: 20px;
  cursor: pointer;
  list-style: none;
  margin-bottom: 6px;
}

.questions li.active {
  background: rgb(21, 147, 143);
}
