.worksSection {
  max-width: 100vw;
  min-height: 100vh;
  padding-bottom: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.worksContainer {
  max-width: 90vw;
  padding-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.workTitle {
  width: 400px;
  padding: 15px;
  margin-bottom: 4px;
  margin-right: 8px;
  border: 2px solid var(--grey);
  border-radius: 13px;
  display: flex;
  background: var(--main-bg);
  -webkit-backdrop-filter: blur(15.1px);
  backdrop-filter: blur(15.1px);
  font-size: 14px;
  list-style: none;
  cursor: pointer;
}

.workTitle:hover {
  border: none;
  overflow: hidden;
  background-color: var(--blue);
  background-image: linear-gradient(315deg, #00bfb2 0%, #028090 74%);
}

ul li {
  margin-top: 15px;
}

ul li a {
  color: var(--white);
  text-decoration: none;
}

@media (max-wdth: 480px) {
  
}
