<!-- <div class="works_section" class="component__container" fxLayout="column" fxLayoutAlign="center center">
  <app-search (searchTextChanged)="onSearchTextEntered($event)"></app-search>

  <div class="list_works" fxLayout="row wrap" fxLayoutGap="15" fxLayoutAlign="center center">

    <ul fxFlex="29" *ngFor="let title of worksTitles">
      <li class="title" *ngIf="searchTitle === '' || title.toLowerCase().includes(searchTitle)"
        (click)="redirectToPDF(title)">
        <a>{{title}}</a>
      </li>
    </ul>
  </div>
</div> -->


<div class="works_section" class="component__container" fxLayout="column" fxLayoutAlign="center center">
  <app-search (searchTextChanged)="onSearchTextEntered($event)"></app-search>

  <div class="list_works">

    <ul *ngFor="let title of worksTitles">
      <li class="title" *ngIf="title.toLowerCase().includes(searchTitle)" (click)="redirectToPDF(title)">
        <a>{{title}}</a>
      </li>
    </ul>
  </div>
</div>
