.works_section {
  /* min-width: 90%; */
  max-width: 100vw;
  min-height: 100vh;
}

.list_works {
  padding-top: 40px; ;
  width: 90%;
}

.title {
  
  /* background:  rgba(0, 0, 0, 0.25);
  background: linear-gradient(to right top, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.15)); */
  cursor: pointer;
  background: var(--main-bg);
  -webkit-backdrop-filter: blur(15.1px);
  backdrop-filter: blur(15.1px);
  border: 2px solid rgba(255, 255, 255, 0.2);
  list-style: none;
  /* min-width: 90%; */
  padding: 15px;
  margin-bottom: 4px;
  border-radius: 13px;
}

.title:hover {
  background-color: #00bfb2;
background-image: linear-gradient(315deg, #00bfb2 0%, #028090 74%);
overflow: hidden;
border: none;
}

ul li {
  margin-top: 15px;
}

ul li a {
  text-decoration: none;
  color: white;

}
