mat-sidenav-container {
  background-color: transparent;
}

mat-sidenav {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  min-height: 100vh;
  background-color: var(--main-bg);
}

.menuItemsContainer {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.listItem {
  padding: 25px;
  color: var(--white);
  font-size: 26px;
  text-transform: uppercase;
  text-decoration: none;
}

.listItem:hover {
  color: var(--blue);
  transition: all 0.3s ease-in-out;
}

.closeButtonContainer {
  position: absolute;
  top: 0;
  right: 16px;
}

.closeIcon {
  color: var(--white);
  background-color: transparent;
  font-size: 30px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  mat-sidenav-container {
    width: 30px;
    border: none;
  }
  .listItem {
    padding: 8px;
    font-size: 15px;
  }
  .closeButtonContainer {
    right: 5px;
  }
  .closeIcon {
    font-size: 15px;
  }
}
