<!-- <mat-toolbar>
  <mat-toolbar-row>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar-row> -->

<div class="menu-container">

  <button class="menu-icon" mat-icon [matMenuTriggerFor]="menu" svgIcon="menu"
    aria-label="Example icon-button with a menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu class="custom-menu" #menu="matMenu">
    <button mat-menu-item>Home
    </button>
    <button mat-menu-item>Aktualności
    </button>
    <button mat-menu-item>Życiorys
    </button>
    <button mat-menu-item>Wiersze
    </button>
  </mat-menu>

</div>