:root {
  --white: #faf4f4;
  --main-bg: #2b4162;
  --container-bg: rgba(0, 0, 0, 0.75);
  --container-bg-gradient: linear-gradient(to right top, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.25));
  --shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  --main-font: Verdana, Geneva, Tahoma, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--main-bg);
  background-image: linear-gradient(315deg, #2b4162 0%, #12100e 74%);

  /* background: #485563; /* fallback for old browsers */
  /* background: -webkit-linear-gradient(to right, #485563, #29323c); /* Chrome 10-25, Safari 5.1-6 */
  /* background: linear-gradient(to right, #485563, #29323c); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background-repeat: no-repeat;
  font-family: var(--main-font);
  color: var(--white);
  min-height: 100vh;
  max-width: 100%;

}

.component__container {
  min-height: 100vh;
}

.component__container--smaller {
  width: 90%;
  height: 85vh;
  border-radius: 20px;
  position: relative;
  background: var(--container-bg);
  background: var(--container-bg-gradient);
  box-shadow: var(--shadow);
  overflow: hidden;
}


.menu-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  border: none;
  color: white;
  background: transparent;

}

/* .menu-items {
  width: 100%;
  min-height: 100vh;
} */

.custom-menu {
  min-width: 100vw;
  min-height: 100vh;
  margin-top: 20px;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

/* .mat-menu-item {
  color: white !important;
} */

/* .menu-container {
  min-width: 95px;
  background: red;
} */



.navigation {
  position: absolute;
  top: 0;
  left: 0;
}



