:root {
  --white: #faf4f4;
  --grey: #717276;
  --main-bg: #15181E;
  --container-bg: rgba(0, 0, 0, 0.25);
  --container-bg-gradient: linear-gradient(to right top, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.20));
  /* --shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  --shadow:  rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  --main-font: Verdana, Geneva, Tahoma, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--main-bg);
  font-family: var(--main-font);
  color: var(--white);
  min-height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
}

.component__container {
  min-height: 100vh;
  margin-bottom: 100px;
}

.component__container--smaller {
  width: 90%;
  height: 85vh;
  position: relative;
  overflow: hidden;
  border: 2px solid rgba(255, 255, 255, 0.2);
  background: var(--main-bg);
  border-radius: 16px;
  box-shadow: var(--shadow);
  -webkit-backdrop-filter: blur(15.1px);
  backdrop-filter: blur(15.1px);
}

.menu-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  border: none;
  color: white;
  background: transparent;
}

.navigation {
  position: absolute;
  top: 0;
  left: 0;
}
