.smallPageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainImg {
  max-width: 560px;
}

.logoContainer {
  position: absolute;
  top: 20px;
  left: 50px;
  opacity: 0.8;
}

.logo {
  color: var(--white);
  font-family: var(--logo-font);
  font-size: 50px;
}

.homeContentSection {
  min-height: 80vh;
}

.homeContentSection, 
.paintingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.paintingByBaczynski {
  max-width: 50vw;
  margin-bottom: 8px;
  border-radius: 16px;
  overflow: hidden;
}

.descriptionOfPainitng {
  font-size: 14px;
}

.textSection {
  max-width: 80vw;
  min-height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.textSection p {
  font-size: 20px;
}

.poemsPicturesSection{
  display: flex;
  align-items: center;
  justify-content: center;
}

.pictureOfPoem {
  max-width: 30vw;
  margin-right: 40px;
  border-radius: 16px;
  overflow: hidden;
}

.pictureOfWork {
  max-width: 60vw;
  margin-bottom: 60px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .logoContainer {
    display: none;
  }
  .mainImg {
    width: 360px;
  }
  .descriptionOfPainitng {
    font-size: 10px;
  }
  .textSection p {
    font-size: 12px;
    padding: 8px 8px;
  }
  .poemsPicturesSection {
    margin-bottom: 8px;
  }
  .pictureOfPoem {
    margin-right: 8px;
  }
}