<div class="component__container" fxLayout="column" fxLayoutAlign="center center">
  <app-navigation class="navigation" [menuIcon]="menuIcon"></app-navigation>
  <div class="component__container--smaller" fxLayout="column" fxLayoutAlign="center center">

    <img class="home__container--img" [src]="homeBgImage" alt="Portret frontalny Krzysztofa Baczyńskiego">
    <div class="napisSection2">
      <h1 class="napis">Baczyński</h1>
    </div>

  </div>
</div>
<app-news></app-news>
<!-- <div class="quoteContainer">
  <p>Nie kocham Cię wcale<br>
    tylko moja dusza jakaś taka smutna<br>
    kiedy przechodzisz obok obojętnie.</p>

</div> -->


<!-- 
<div class="quoteContainer"  fxLayoutAlign="center center">
  <div class="quote">
      <p>Nie kocham Cię wcale<br>
    tylko moja dusza jakaś taka smutna<br>
    kiedy przechodzisz obok obojętnie.</p>
  </div>

    
  </div> -->



<app-footer></app-footer>