<div class="page_container">
  <div class="component__container">
    <app-navigation class="navigation" [menuIcon]="menuIcon"></app-navigation>
    <div class="component__container--smaller">

      <img class="home__container--img" [src]="homeBgImage" alt="Portret frontalny Krzysztofa Baczyńskiego">
      <div class="napisSection2">
        <h1 class="napis">Baczyński</h1>
      </div>

    </div>
  </div>
  <app-news></app-news>

  <div class="quotesSection">
    <div class="painting">
      <img class="pictureByBaczynski" src="assets/images/Serce-jak-oblok.jpg" alt="">
      <p class="description">K.K.Baczyński, Serce jak obłok</p>
    </div>

    <div class="contentSection">
      <p>Krzysztof ocala w pięknych lirykach swój świat wartości, piękna, prawdy i dobra, miłość intymną i miłość
        „wszechstworzeniu”, w którym się zawiera najbliższa ziemia, ojczyzna, ludzie dzielący wspólny los, wreszcie –
        wierność samemu sobie.</p>
    </div>
    <div class="poemsSection">
      <img class="pictureOfPoem" src="assets/images/canvas.png" alt="">
      <img class="pictureOfPoem" src="assets/images/canvas5.png" alt="">
    </div>
    <div class="contentSection">
      <p>Poezje Baczyńskiego spotkały się z żywym przyjęciem, pełną akceptacją i przekonaniem o jego wybitnym talencie
        przede wszystkim w środowisku starszego pokolenia pisarzy. Jarosław Iwaszkiewicz wspominał: „Baczyńskiego
        przywiózł do Stawiska Jerzy Andrzejewski. […] wizytę tę poprzedził znaczny hyr pomiędzy przyczajonymi
        literatami, że narodził się nadzwyczajny młody poeta, że dojrzałość jego w tak młodym wieku jest zdumiewająca,
        że pisze bardzo dużo, jednym słowem, że jest to zjawisko nieprzeciętne”.</p>
    </div>
    <div class="painting">
      <img class="pictureByBaczynski" src="assets/images/poet_painting.jpg" alt="">
      <p class="description">K.K.Baczyński, Poeta</p>
    </div>

    <div class="contentSection">
      <p>Bolesne odczuwanie losu i świadomość odpowiedzialności za sens egzystencji były wspólne pokoleniu wojennemu,
        zaś dylematy poety – moralne koszty zbrojnej walki – były dylematami jego rówieśników. W elementarnej niezgodzie
        na zło i odpowiedzialności za kształt świata dawał wyraz swoim wątpliwościom, lękom wobec moralnej
        niejednoznaczności walki z wrogiem – zabijania.</p>
    </div>

    <div>
      <img class="pictureOfWork" src="assets/images/rodzicom.png" alt="">
    </div>
  </div>
</div>
<app-footer></app-footer>