/* .component__container {
  min-height: 100vh;
} */

/* .component__container--smaller {
  width: 90%;
  height: 85vh;
  border-radius: 20px;
  position: relative;
  background: var(--container-bg);
  background: var(--container-bg-gradient);
  box-shadow: var(--shadow);
} */

.home__container--img {
  width: 560px;
}


