<div class="homeContainer">
  <div class="componentContainer">
    <app-navigation class="navigation" [menuIcon]="menuIcon"></app-navigation>
    <div class="smallPageContainer">
        <img class="mainImg" src="assets/images/portrait.png" alt="Portrait of Krzysztof Baczynski">   
      <div class="logoContainer">
        <h1 class="logo">Baczyński</h1>
      </div>
    </div>
  </div>
  <app-news></app-news>
  <div class="homeContentSection">
    <div class="paintingContainer">
      <img class="paintingByBaczynski" src="assets/images/Serce-jak-oblok.jpg" alt="Painting by Baczynski">
      <p class="descriptionOfPainting">K.K.Baczyński, Serce jak obłok</p>
    </div>
    <div class="textSection">
      <p>Krzysztof ocala w pięknych lirykach swój świat wartości, piękna, prawdy i dobra, miłość intymną i miłość
        „wszechstworzeniu”, w którym się zawiera najbliższa ziemia, ojczyzna, ludzie dzielący wspólny los, wreszcie –
        wierność samemu sobie.</p>
    </div>
    <div class="poemsPicturesSection">
      <img class="pictureOfPoem" src="assets/images/canvas.png" alt="Image of handwriting poem">
      <img class="pictureOfPoem" src="assets/images/canvas5.png" alt="Image of handwriting poem">
    </div>
    <div class="textSection">
      <p>Poezje Baczyńskiego spotkały się z żywym przyjęciem, pełną akceptacją i przekonaniem o jego wybitnym talencie
        przede wszystkim w środowisku starszego pokolenia pisarzy. Jarosław Iwaszkiewicz wspominał: „Baczyńskiego
        przywiózł do Stawiska Jerzy Andrzejewski. […] wizytę tę poprzedził znaczny hyr pomiędzy przyczajonymi
        literatami, że narodził się nadzwyczajny młody poeta, że dojrzałość jego w tak młodym wieku jest zdumiewająca,
        że pisze bardzo dużo, jednym słowem, że jest to zjawisko nieprzeciętne”.</p>
    </div>
    <div class="paintingContainer">
      <img class="paintingByBaczynski" src="assets/images/poet_painting.jpg" alt="Painting by Baczynski">
      <p class="descriptionOfPainting">K.K.Baczyński, Poeta</p>
    </div>
    <div class="textSection">
      <p>Bolesne odczuwanie losu i świadomość odpowiedzialności za sens egzystencji były wspólne pokoleniu wojennemu,
        zaś dylematy poety – moralne koszty zbrojnej walki – były dylematami jego rówieśników. W elementarnej niezgodzie
        na zło i odpowiedzialności za kształt świata dawał wyraz swoim wątpliwościom, lękom wobec moralnej
        niejednoznaczności walki z wrogiem – zabijania.</p>
    </div>
    <div class="paintingContainer">
      <img class="pictureOfWork" src="assets/images/rodzicom.png" alt="Image of handwriting poem">
    </div>
  </div>
</div>
<app-footer></app-footer>
