<div class="component__container" fxLayout="column" fxLayoutAlign="center center">
  <div class="component__container--smaller" fxLayout="row" fxLayoutAlign="space-between center">
    <app-navigation class="navigation" [menuIcon]="menuIcon"></app-navigation>
    <h2 class="md-display-3" class="component__container--quote">
      "I wyszedłeś, jasny synku, z czarną bronią w noc,<br>
      i poczułeś, jak się czai w dźwięku minut - zło.<br>
      Zanim padłeś, jeszcze ziemię przeżegnałeś ręką.<br>
      Czy to była kula, synku, czy to serce pękło?".<br>
    </h2>
    <img class="component_container--image" [src]="portrait_Baczynski" alt="Portret frontalny Krzysztofa Baczyńskiego">
  </div>


</div>

<!-- <div class="works_section" class="component__container" fxLayout="column" fxLayoutAlign="center center">
  <app-search (searchTextChanged)="onSearchTextEntered($event)"></app-search>

  <div class=" list_works" fxLayout="column" fxLayoutAlign="center center" *ngFor="let title of worksTitles">
    <ul>
      <li class="title" *ngIf="searchTitle === '' || title.toLowerCase().includes(searchTitle)">
        <a (click)="redirectToPDF(title)">{{title}}</a>
      </li>
    </ul>
  </div>


</div> -->


<div class="works_section" class="component__container" fxLayout="column" fxLayoutAlign="center center">
  <app-search (searchTextChanged)="onSearchTextEntered($event)"></app-search>

  <div class=" list_works" fxLayout="row wrap" fxFlex="33" fxLayoutAlign="center center">
    <ul *ngFor="let title of worksTitles">
      <li class="title" *ngIf="searchTitle === '' || title.toLowerCase().includes(searchTitle)">
        <a (click)="redirectToPDF(title)">{{title}}</a>
      </li>
    </ul>
  </div>

</div>