.smallPageContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.quote {
  padding-left: 70px;
  font-size: 25px;
}

.portraitImg {
  max-width: 500px;
}
