<div class="works_container" fxLayout="column" fxLayoutAlign="center center">
  <div class="header" fxLayout="row" fxLayoutAlign="space-between center">
    <h3 class="mat-h3">
      I wyszedłeś, jasny synku, z czarną bronią w noc,<br>
      i poczułeś, jak się czai w dzwięku minut - zło.<br>
      Zanim padłeś, jeszcze ziemię przeżegnałeś ręką.<br>
      Czy to była kula, synku, czy to serce pękło?".<br>
    </h3>
    <img [src]="Baczynski_portrait_2" alt="Portret Baczynskiego" [style]="getPortraitStyles()">
  </div>

  <div class="search">
    <input class="search_input" type="text" placeholder="Szukaj">
  </div>
</div>