<div class="componentContainer">
  <app-navigation class="navigation" [menuIcon]="menuIcon"></app-navigation>
  <div class="smallPageContainer">
    <h1 class="quote">
      "I wyszedłeś, jasny synku, z czarną bronią w noc,<br>
      i poczułeś, jak się czai w dźwięku minut - zło.<br>
      Zanim padłeś, jeszcze ziemię przeżegnałeś ręką.<br>
      Czy to była kula, synku, czy to serce pękło?".<br>
    </h1>
    <img class="portraitImg" src="assets/images/portrait_Krzys.png" alt="Portrait of Baczynski">
  </div>
</div>
<app-poems></app-poems>
<app-footer></app-footer>
