.component_container--image {
  max-width: 500px;
}

.component__container--quote {
  padding-left: 70px;
}

.component__container--smaller {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
